.themed-grid-col {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(128, 32, 44, .15);
    border: 1px solid rgba(128, 32, 44, .2);
}

.themed-container {
    padding: .75rem;
    margin-bottom: 1.5rem;
    background-color: rgba(128, 32, 44, .15);
    border: 1px solid rgba(128, 32, 44, .2);
}

.navbar {
    height: 10%;
    background-color: #c41329;
    position: relative;
}


body {
    text-align: center;
}

body:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

button {
    background: #c41329;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    width: 50%;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

button:hover {
    background: #fff;
    color: #c41329;
}

button:before,
button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #c41329;
    transition: 400ms ease all;
}

button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

button:hover:before,
button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

#navbar{
    background: #c41329;
}
#parent{
    width: 100%;
height: 100%;
padding-top: 100px;
}

li:hover {
    cursor: pointer;
}
[id^=product]{
    vertical-align: middle;
}

[id^=rowdiv]{
    padding-top: 200px;
    text-align: center;
}
